* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-size: 1em;
    text-decoration: none;
}


:root {
    --new-blue:#0A327A;
    --message-bgd: #F6FAFD;
    --body-text: #696D79;
    --emphasis: #000;
    --new-red: #E75452;
    --body-bgd: #F9FAFE;
    --txtmsg-blue:#E5EFF9;
    --group-hover: #397a98;
}


body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color:var(--body-text);
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    padding-top:1.5rem;
    line-height: 1.25;
}

.wrapper {
    width:96%;
    margin:0 auto;
    background-color: white;
    
}

header, main, footer, .message {
    padding: .25rem .5rem .75rem;
}


header {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}

a:hover, a:focus {
    color: var(--new-blue);
    transition: color 100ms ease-in-out;
    cursor: pointer;
}

.message-group:hover, .message-group:focus {
    color:var(--group-hover);
    transition: color 200ms ease-in-out;
}

h1 {
    font-size: 1.4rem;
    color:var(--emphasis);
    display:flex; 
    align-items:flex-end;
}

footer {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin:1rem;
    padding-block: 1rem;
    border-top:1px solid var(--body-text);
    
}

footer .attribution a {
    color: var(--emphasis);
    
}

footer .attribution a:hover,
footer .attribution a:focus  {
    color: var(--new-blue);
}

img {
    width:44px;
    object-fit: cover;
}

span, a {
    font-weight:bold;
}

.message {
    display: flex;
    border-radius: 10px;
    background-color: transparent;
    margin-block:.75rem;
    gap:1rem;
    padding:1.075rem 1.125rem;
}

.message a {
margin-left: auto;
width:48px;
height: 48px;
}

.name {
    color:var(--emphasis);
    padding-inline: 0 .25rem;
  
}

.message-group {
    color:var(--new-blue);
}

blockquote {
    width:100%;
    background-color: white;
    border:1px solid lightgrey;
    padding:1rem 1rem 2rem;
    margin-block:1rem;
    line-height: 1.5;
    border-radius: 5px;
    transition: background-color 100ms ease-in-out;
}

blockquote:hover, blockquote:focus {
    color: var(--body-text);
    background-color: var(--txtmsg-blue);
    transition: background-color 200ms ease-in-out;
}


p {
    padding-block:.125rem
}

.new {
    background-color: var(--new-blue);
    padding:.125rem .75rem;
    color:white;
    border-radius: 7px;
    margin-inline: .5rem;
    font-size: 1.125rem;
    font-weight:bold;
    

}


button {
    border:none;
    background-color: transparent;
    color: var(--body-text);
    letter-spacing: .05rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.mark-as-unread {
    color:var(--body-text);
    transition: color 500ms ease-in-out;
    padding:.125rem .5em;
    cursor: pointer;
}

.mark-as-unread:hover, .mark-as-unread:focus {
   color:var(--new-blue);
   transition: color 500ms ease-in-out;
}






.unread {
    background-color: var(--message-bgd);
}

.unread .alert {
    font-size:1.25rem;
    color:var(--new-red);
    padding-inline:.125rem;
}

.read .alert {
    font-size:1.25rem;
    visibility: hidden;
}




@media only screen and (min-width:768px) {

    body {
        background-color: var(--body-bgd);
        padding-block:4rem;
    }

    .wrapper {
        max-width: 60%;
        padding:1.5rem;
        border-radius: 10px;
        box-shadow: 2px 2px 20px rgba(200,200,200,.5);
    }

   


}